<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pupparazzi</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="app">
      <form class="form" action="/puppies/post" method="post">
        <img class="img-circle" src="{{image}}" alt="{{name}}">
        <label for="name" class="form-item">
          Name:
          <input type="text" name="name" value="{{name}}">
        </label>
        
        <label for="breed" class="form-item">
          Breed:
          <input type="text" name="breed" value="{{breed}}">
        </label>
        
        <label for="owner" class="form-item">
          Owner:
          <input type="text" name="owner" value="{{owner}}">
        </label>
        
        <!-- this hidden input allows us to send more data in our post request without the user being able to change that value -->
        <input type="hidden" name="image" value="{{image}}">
        <input type="hidden" name="id" value="{{id}}">
        
        <input type="submit" name="" value="Submit">
      </form>
    </div>
  </body>
</html>